
@font-face {
    font-family: 'Saiyan-Sans';
    src: url("../Addons/Fonts/Saiyan-Sans.ttf") format('truetype');
}

/*Style entete*/

.bandeau-navigation {
    background-color: #ffffff; 
    padding: 0px; 
    text-align: center; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.bandeau-navigation img {
    width: 200px;
    height: auto; 
}

.marge-bandeau {
    padding-top: 5%; 
}

/*Style Home page*/

.book_list {
    font-size: 1.17rem;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nom_livre {
    font-family: 'Saiyan-Sans', sans-serif;
}

.book_list p {
    font-size: 1.5rem; 
}

.book_list a {
    color:rgb(0, 0, 0); 
    font-size: 30;
    text-decoration: none;
}

.book_list img {
    width: 100px;
    height: auto;
}

.book_list li {
    width: 200px;
    margin: 30px;
    text-align: center;
}

/*Style pages livre*/

.contenu-scrollable {
    margin: 10px;
    margin-left: 40%;
    margin-right: 10%;
    padding-top: 50px; 
}

.book-info {
    margin: 10px;
    margin-left: 40%;
    margin-right: 10%;
    padding-top: 50px; 
}

.image-fixe {
    position: fixed;
    top: 180px;
    left: 10%;
    width: 20%; 
}

@media screen and (max-width: 600px) {
    .contenu-scrollable {
        margin: 10px; 
    }

    .image-fixe {
        position: static; 
        width: calc(100% - 20px);
        margin-bottom: 20px; 
        margin-left: 10px; 
        margin-right: 10px;
    }

    .texte-défilant {
        margin-top: 20px; 
    }

    #plein-ecran {
        padding: 6px 12px; 
        font-size: 14px; 
    }
}

.couverture_livre {
    width: 100%;
    height: auto;
}


/* Styles pour le bouton Plein écran */
#plein-ecran {
    display: block;
    margin: 10px auto;
    padding: 8px 16px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
}

#plein-ecran:hover {
    background-color: #555;
}


